* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(135deg, #eef2ff, #f8faff);
}

/* HEADER */
.top-header {
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.header-left img {
  position:absolute;
  left: 30px;
  top: 50px;
  transform: translateY(-45%);
  height: 100px;
}

.header-center {
  text-align: center;
}

.header-center h1 {
  font-size: 34px;
  font-weight: 700;
  color: #1f2937;
}

.header-center p {
  font-size: 16px;
  color: #6b7280;
  margin-top: 5px;
}

/* CONTAINER */
.container {
  display: flex;
  height: calc(100vh - 120px);
}

/* MAPA */
#map {
  flex: 1;
  position: relative;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;

  background-image: url('../assets/mapa-blocos.png');
  background-size: cover;
  background-position: center;

  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

/* BOTÕES */
.bloco {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  transition: 0.2s;
  
}

.bloco:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

/* SIDEBAR */
.sidebar {
  flex: 1;
  margin: 20px 20px 20px 0;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
  overflow-y: auto;
}

/* SELECT */
select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #f1f4ff;
  margin-bottom: 15px;
  font-size: 14px;
}

select:focus {
  outline: none;
  background: #e4e9ff;
}


.review {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}