body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
  background: #f4f6fb;
}

.container {
  display: flex;
  height: 100vh;
}

/* ESQUERDA */
.left {
  width: 60%;
  background: linear-gradient(180deg, #eef3ff, #ffffff);
  padding: 40px;
  position: relative;
}

.left h1 {
  font-size: 50px;
  color: #2b5fab;
  font-weight: bold;
}

.left span {
  color: #3bb273;
}

.bg {
  position: relative;
  bottom: 0;
  left: 60px;
  width: 85%;
  opacity: 0.95;
}

/* DIREITA */
.right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD (igual ao design) */
.card {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
}

.logo {
  width: 340px;
  margin-bottom: 15px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

label {
  font-size: 14px;
  color: #444;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  background: #f2f4f8;
}

/* BOTÃO IGUAL AO DA IMAGEM */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to right, #4facfe, #00c6ff);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

/* LINKS */
.extras {
  margin-top: 15px;
}

.extras p {
  font-size: 12px;
  color: #777;
}

.extras span {
  color: #2b5fab;
  cursor: pointer;
}
